.administrator {
    padding-left: 10%;
}
.nav-link {
    color: #F7F7F7;
}
.nav-link:hover {
    color: #FFC258;
}
.nav-column {
    background-color:  #25408f;
}

.menu-item {
    margin-top: 5%;
    margin-bottom: 5%;
}