 * {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 html {
     height: 100%;
 }

 body {
     height: 100%;
     margin: 0;
     background: url("img/background.jpg") no-repeat top left /cover;
     
 }

#content {
    position: relative;
    width: 400px;
    padding: 30px;
    margin: 6rem auto;
    background: #FCFBFA;
    border-radius: 8px;

}

.acc-form, .admin-pass{
    padding: 10px;
}

 