 * {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 html {
     height: 100%;
 }

 body {
     height: 100%;
     margin: 0;
     background: url("/assets/background-img/background.jpg") no-repeat top left /cover;
     
 }

#content {
    position: relative;
    width: 400px;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
    margin: 6rem auto;
    background: #FCFBFA;
    border-radius: 8px;

}

.acc-form, .pass-form{
    padding: 10px;
    width: 90%;
    
}

.log {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}
.submit {
    padding: 10px 20px;
    background-color: #6A9D67;
    color: white;
    font-size: 15px;
    width: 95%;

}

.form-label {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
}
 