body {
    background-color: #FCF9E9;
}
.question_section {
    /* text-align: center; */
    width: 80%;
    border: 2px solid;
    border-color: blue;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
}
.answers {
    /* margin-right: 50px; */
    padding-left: 2%;
}

.grid {
    border: 1px solid black;
    border-width: 1px 0 0 1px;
}

.grid div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}