* {
    padding: 0;
    margin: 0;
}


body {
    height: 100%;
}

.col {
    float: left;
    width: 100%;
}

.col-80 {
    width: 100%;

}

.col-75 {
    width: 75%;
}

.col-25 {
    width: 25%;
    box-sizing: border-box;
}
.col-40 {
    width: 40%;
}
.col-half {
    width: 50%;
    min-width: 50%;
}

.row {
    width: 100%;
    display: inline-block;
}

:root {
    --header-color: linear-gradient(90deg, azure, rgb(65, 65, 143));
}

.clear {
    clear: both;
}

#header {
    height: 82px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: transparent;
}

.admin-login {
    position: relative;
    float: right;
    z-index: 2;
}

.admin-login .admin-login-button {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    font-size: 30px;
}

.admin-login-button:hover {
    cursor: pointer;
}

 #header .content-text h1 {
    position: absolute;
    display: inline-block;
    top: 10%;
    left: 5%;
    color: white;
    text-transform: uppercase;
    line-height: 82px;
    text-align: center;
}

.admin-login .admin-login-button .admin-login-icon {
    margin-right: 15px;
    font-size: 35px;
    line-height: 82px;
    color: rgb(247, 183, 21);

}





#content {
    position: relative;
    justify-content: center;
}

body #video_background {
    
    position: relative;
    
    bottom: 0px;
    
    right: 0px;
    
    min-width: 100%;
    min-height: 100%;
    
    width: auto;
    
    height: auto;
    
    z-index: -1000;
    
    overflow: hidden;


}

.user-login {
    padding: 30px;
    position: fixed;
    right: 50%;
    transform: translateX(+50%);
    top: 70%;
    z-index: 2;

}

.id-login {
    padding: 6px 20px;
    line-height: 1.5;
    font-size: large;
    background-color: rgb(0, 0, 0, 0.4);
    color: rgb(254, 254, 254, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    border-color: white;
    border-radius: 20px 20px 20px 20px;
}

.user-login-button {
    padding: 6px 20px;
    margin-top: 30px;
    width: 50%;
    position: absolute;
    left: 50%;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateX(-42%);
    color: rgb(254, 254, 254, 0.5);
    font-size: larger;
    background-color: rgb(0, 0, 0, 1);
    text-align: center;
    border-color: white;
    border-radius: 20px 20px 20px 20px;

}

.user-login-button:hover {
    cursor: pointer;

}

.ct-1 {

    display: flex;
    width: 100%;
    color: white;
}


#content-1 {
    background: url("https://img5.thuthuatphanmem.vn/uploads/2021/09/22/anh-background-tia-sang-vu-tru_095510210.jpg") no-repeat top right /cover;
    min-height: 600px;

}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}


.r-ct-1 {
    margin-top: 20px;
    display: inline-block;
}

.head-ct-1 {
    margin-top: 25%;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.p1-ct-1 {
    margin-top: 4%;
    text-align: justify;
    font-size: 25px;
}
.p2-ct-1{
    margin-left: 20px;
    margin-top: 10%;
    font-size: 20px;

}

.p2-ct-1 li{
    margin-bottom: 10px;
    font-size: 20px;
}

.l-ct-1 {
    text-align: right;
}
.robot-img {
    margin-top: 30%;
    width: 60%;
}


@media (min-width: 1024px) {
    .container {
        min-width: 82%;
    }
}

@media (max-width: 1024px) {

#video_background {
    width: 100%;
    min-width: none;
    min-height: none;
}
.container {
    max-width: 768px;
}
}
@media (min-width: 640px){
.container {
    max-width: 640px;
}
}