* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url("/assets/background-img/background.jpg") no-repeat top left 100%;
}
a {
    margin-top: 20%;
    margin-left: 100%;
    position: relative;
    border: solid 1 black;
    margin-bottom: 70%;
    text-align: center;
    border-radius: 2;
    font-size: medium;
}
br {

}
.answer1 {
    
}
.answer2{

}
.answer3{

}
.answer4{

}
.quest{

}
.ranswer{

}